body, .body-fauxcolumn-outer {
background: #ffffff;
margin: 0;
padding: 0px;
font: x-small Verdana, Arial;
text-align: left;
color: #000000;
font-size: 10pt;
}
a:link {
color: #940f04;
}
.home-link {
font-size : 20pt;
}
a:visited {
color: #940f04;
}
a img {
border-width: 0;
}
title {
margin: 0;
padding: 20;
font-family: Microsoft JhengHei, sans-serif;
font-size: 120%;
font-weight: bold;
line-height: 3em;
color : #ffffff;
background-color: #660000;
}
h1  {
font-size : 20pt;
font-weight : bolder;
font-style : normal;
line-height: 22pt;
color : #ffffff;
background-color: #660000;
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
width: auto;
height: auto;
font-family: SimSun, "Arial Black";
text-align: center;
}
h1.title a, h1.title a:visited {
color: #ffffff;
text-decoration: none;
}

